<div id="logo-container">
  <div class="flame-wrapper">
    <img src="/images/flames.png" class="flame-base" />
    <img src="/images/flames.png" class="flame-anim" />
  </div>
  <img src="/images/reel.png" class="reel" alt="Film Reel" />
  <img src="/images/words.png" class="words" alt="The Bad Reel" />
</div>
