<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Add a Trash Movie</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
  </head>
  <body>
    <h1>🍅 Add a Movie to the Archive</h1>

    <form action="/submit" method="POST">
      <label>Movie Title:
        <input type="text" name="title" required />
      </label><br>

      <label>Rating (1–5 tomatoes):
       <div class="rating-select" data-rating="0">
            <img src="/icons/greyscale-toilet-paper.svg" class="roll" data-value="1">
            <img src="/icons/greyscale-toilet-paper.svg" class="roll" data-value="2">
            <img src="/icons/greyscale-toilet-paper.svg" class="roll" data-value="3">
            <img src="/icons/greyscale-toilet-paper.svg" class="roll" data-value="4">
            <img src="/icons/greyscale-toilet-paper.svg" class="roll" data-value="5">
            <input type="hidden" name="rating" value="0" />
        </div>
      </label><br>

      <label>Genre:
        <select name="genre" required>
          <option value="">--Choose--</option>
          <option>Action</option>
          <option>Adventure</option>
          <option>Animation</option>
          <option>Comedy</option>
          <option>Crime</option>
          <option>Documentary</option>
          <option>Drama</option>
          <option>Family</option>
          <option>Fantasy</option>
          <option>History</option>
          <option>Horror</option>
          <option>Musical</option>
          <option>Mystery</option>
          <option>Romance</option>
          <option>Sci-Fi</option>
          <option>Thriller</option>
          <option>War</option>
          <option>Western</option>
        </select>
      </label><br>

      <label>Your Name:
        <input type="text" name="name" />
      </label>

      <label>
        <input type="checkbox" name="anonymous" /> Submit anonymously
      </label><br>

      <label>Your Review:<br>
        <textarea name="review" rows="5" required></textarea>
      </label><br>

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
